/* GLOBALS */
img{max-width: 100%}
body{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
}
header{width:100%;}
/* users/signup */
input[type=text], input[type=email], input[type=password]{
  display: block;
  margin: 1.5em auto 1.5em auto;
  width: 70%;
  height: 2em;
  vertical-align: middle;
  padding: 0.6em;
}
input[type=submit]{
  background: rgb(255,191,0);
  display: block;
  font-size: 90%;
  width: 70%;
  margin: 1.8em auto auto auto;
}