/* GLOBALS */
img{max-width: 100%}
body{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
}
a{text-decoration: none;color: rgb(255,255,255);}
a:link    {color: rgb(255,255,255);}
a:visited {color: rgb(255,255,255);}
a:hover   {color: rgb(255,255,255);}
a:active  {color: rgb(255,255,255);}
header{width:100%;}
header section h1.flash{
  text-align: center;
  font-size: 1.2em;
  margin: 1em auto 1em auto;
}
/* users/signup */
input[type=text], input[type=email], input[type=password]{
  display: block;
  margin: 1.5em auto 1.5em auto;
  width: 70%;
  height: 2em;
  vertical-align: middle;
  padding: 0.6em;
}
input[type=submit]{
  background: rgb(255,191,0);
  display: block;
  font-size: 90%;
  width: 70%;
  margin: 1.8em auto auto auto;
}
body main textarea{
  display: block;
  width: 70%;
  margin:auto;
  padding:1em;
}
nav{
  padding:0.4em 0em 0.4em 2em;
  background: rgb(255,191,0);
}
main{padding:0em 1em 5em 1em;}
h1.flash{
  background-image: none;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  margin: auto;
  width:60%;
}
main h1{
  background-image: url('../images/TAG.svg');
  background-size: cover;
  color: rgb(255,255,255);
  margin: -1.2em 0em 0em -0.8em;
  padding: 0.4em;
  line-height: 1em;
  width: 50%;
  text-align: center;
}
main h1 .tag{
  width: 40px;
  float: right;
  margin: -0.5em 0em 0em -1.2em;
}
blockquote{
  background-color: rgb(230,230,255);
  padding: 9px;
  margin: 2em auto 2em auto;
  box-shadow: 4px 4px 4px #888888;
}
blockquote p{
  margin: 1em 0em 1em 0em;
}
blockquote p.handle{
  text-align: right;
  font-size: 0.7em;
  margin: 0em 8em 0em 0em;
}
blockquote h2.reply{
  display: block;
  background-image: url('../images/REPLY.svg');
  background-size: cover;
  float:right;
  text-align: right;
  padding: 0.5em 1em 0em 0em;
  margin: -0.1em -1em 0em 0em;
  width:60px;
  height: 25px;
  font-size: 1em;
}
blockquote.poops{
  position: relative;
  background-color: rgb(250,239,207);
  width:59%;
  margin: 1em 1em 1.3em 6em;
  z-index:2;
}
p.poop{
  text-align: right;
  margin: 0.5em;
}
blockquote.poops h2.reply{
  padding: 0.2em 1em 0em 0em;
  margin: -0.5em -1em 0.5em 0em;  
  height: 20px;
  width: 80px;
  background-image: url('../images/POOPTAG.svg');
  background-size: cover;
}