<%= partial :peeps %>
<form action="/poops/add" method="post">
  <input type="hidden" name="peep_id" value="<%= @peeps[0].id%>">
  <textarea name="poop" rows="4"></textarea>
  <input type="submit" value="Poop">
</form>
<%= partial :poops %>