<form action="/users/login" method="post">
  <input type="text" name="handle" placeholder="Your handle">
  <input type="password" name="password" placeholder="Your password">
  <input type="submit" value="Log in">
</form>
