<form action="/signup" method="post">
  <input type="text" name="name" placeholder="Full Name Here">
  <input type="email" name="email" placeholder="email@inhere.thx">
  <input type="text" name="handle" placeholder="your_chitter_handle">
  <input type="password" name="password" placeholder="choose a password">
  <input type="submit" value="Join Chitter">
</form>