<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <a href="/peeps/home"><img src="/images/DINO_CHITTER.svg"></a>
    <%= partial :nav %>
    <%= partial :flash %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer><%= partial :footer %></footer>
</body>
</html>