<nav>
  <% if session[:user_id] %>
    <a href="/peeps/home">all peeps</a>
    <a href="/peeps/#{session[:user_id]}">my peeps</a>
    <a href="/peeps/new/#{session[:user_id]}">+</a>
    <a href="/users/logout">log out</a>
  <% else %>
    <a href="/users/login">log in</a>
    <a href="/users/signup">sign up</a>
  <% end %>
</nav>