<% if @poops %>
  <% @poops.each do |poop| %>

    <blockquote class="poops">
      <p class="poop">
        <%= poop.poop %>
        <p class="handle">
          <%= poop.created_at.strftime("%-d %b %l:%M%P") %>
        </p>
      </p>
      <h2 class="reply">
        <%= poop.peep.user.handle %>
      </h2>
    </blockquote>
  <% end %>
<% end %>